pandas
requests
ib_insync  # use pip from environment
ta-lib  # NOTE: for windows use the appropriate .whl file from https://www.lfd.uci.edu/~gohlke/pythonlibs/#ta-lib
jupyterlab
jupyter
numpy
python-dotenv